@font-face {
  font-family: "VinaSans";
  src: url("./assets/fonts/VinaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("./assets/fonts/Akkurat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root {
  --tranbolico-amarillo: #ffd92d;
  --tranbolico-azul: #283583;
}

body {
  font-family: "VinaSans", sans-serif;
 
}

.conocenos {
  background-color: var(--tranbolico-amarillo);
  font-family: "Akkurat", sans-serif;
  font-size: 3.5rem;
  color: var(--tranbolico-azul);
  padding: 20px;
  border-radius: 15px;
  max-width: 70%;
  margin: 30px auto 0 auto;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.conocenos img {
  border-radius: 50%; 
  width: 150px; 
  height: auto; 
  margin-left: 20px; 
}
.como-funciona {
  background-color: #f9f9f9; 
  border-radius: 15px; 
  margin: 30px auto;
  max-width: 90%;
}

.como-funciona h3 {
  color: var(--tranbolico-azul);
  font-family: "Akkurat", sans-serif;
  font-size: 2.5rem; 
  margin-bottom: 30px;
  text-align: center; 
  font-style: italic;
}

.funciona-content {
  margin-top: 20px;
}

.funciona-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; 
}

.funciona-point {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: var(--tranbolico-azul); 
  color: white;
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  margin-right: 15px; 
}

.funciona-number {
  font-size: 1 rem; 
  font-weight: bold; 
}

.funciona-text {
  flex: 1;
  color: var(--tranbolico-azul);
  font-style: italic;
}

.funciona-text h2 {
  font-size: 1.2rem; 
  margin-bottom: 10px; 
}

.funciona-text span {
  font-size: 1rem; 
}


.Amarillo {
  background-color: var(--tranbolico-amarillo);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Amarillo h3 {
  color: var(--tranbolico-azul);
  margin-right: 300px; 
  text-align: right; 
  font-family: "VinaSans-Regular.ttf", system-ui;
  font-size: 3.5rem;
}

.Amarillo img {
  max-height: 200px;
  width: auto; 
  height: auto;
  margin-left: 700px;
}
.testimonios {
  background-color: var(--tranbolico-amarillo);
  padding: 20px;
  margin-bottom: 0; 
}

.testimonio {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: var(--tranbolico-azul);
  max-width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonio p {
  margin: 0;
  line-height: 1.5;
}
