:root {
  --tranbolico-amarillo: #ffd92d;
  --tranbolico-azul: #283583;
}

body {
  font-family: "VinaSans", sans-serif;
}

.conocenos {
  background-color: var(--tranbolico-amarillo);
  font-family: "Akkurat", sans-serif;
  font-size: 3.5rem;
  color: var(--tranbolico-azul);
  padding: 20px;
  border-radius: 15px;
  max-width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
  }
}

.conocenos img {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.como-funciona {
  background-color: #f9f9f9;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 90%;
  padding: 20px;
}

.como-funciona h3 {
  color: var(--tranbolico-azul);
  font-family: "Akkurat", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
}

.funciona-content {
  margin-top: 20px;
}

.funciona-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.funciona-point {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tranbolico-azul);
  color: white;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  margin-bottom: 10px;
  

  @media (min-width: 768px) {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.funciona-number {
  font-size: 1.2rem;
  font-weight: bold;
}

.funciona-text span {
  color: var(--tranbolico-azul);
  font-style: italic;
}

.funciona-text h2 {
  color: var(--tranbolico-azul);
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
  
}

.funciona-text span {
  font-size: 1rem;
}

.amarillo {
  background-color: var(--tranbolico-amarillo);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.amarillo h3 {
  color: var(--tranbolico-azul);
  margin: 0;
  text-align: center;
  font-family: "VinaSans-Regular.ttf", system-ui;
  font-size: 3.5rem;

  @media (min-width: 768px) {
    text-align: right;
    margin-right: 300px;
  }
}

.amarillo img {
  max-height: 200px;
  width: auto;
  height: auto;

  @media (min-width: 768px) {
    margin-left: 20px;
  }
}

.testimonios {
  background-color: var(--tranbolico-amarillo);
  padding: 20px;
  margin-bottom: 0;
}

.testimonio {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: var(--tranbolico-azul);
  max-width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.testimonio p {
  margin: 0;
  line-height: 1.5;
}

.twitter-button {
  background: none;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;

  @media (min-width: 768px) {
    position: static;
    margin-left: auto;
  }
}
