.btn-add-route {
  background-color: var(--tranbolico-azul);
  border: 0;
  &:hover {
    background-color: var(--tranbolico-azul) !important;
  }
}
/* .table-responsive {
  overflow-x: auto;
}

td {
  white-space: nowrap !important;
}

th {
  white-space: nowrap !important;
} */