.buttonAdmin {
  background-color: var(--tranbolico-amarillo);
  color: black;
  font-family: "Akkurat-Regular.ttf";
  font-style: italic;
  border: 0;
  width: 35dvw;
  padding-block: 15px;
  margin-block: 10px;
}
.buttonAdmin1{
  background-color: var(--tranbolico-verde);
}
.buttonAdmin2{
  background-color: var(--tranbolico-amarillo);
}
.buttonAdmin3{
  background-color: var(--tranbolico-azulClaro);
}
.buttonAdmin4{
  background-color: var(--tranbolico-rosa);
}


.buttonAdmin:hover,
.buttonAdmin:focus,
.buttonAdmin:active,
.buttonAdmin:focus:active {
  background-color: #b49404;
}

@media (width < 500px) {
  .buttonAdmin {
    width: 80dvw;
  }
}


.akkurat-font {
  font-family: 'Akkurat-Regular.ttf', sans-serif !important;
}

