.selectDatepicker {
  min-height: 282px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "calendario calendario"
      "fecha hora";
  }
  .calendario {
    grid-area: calendario;
  }
  .fecha {
    grid-area: fecha;
  }
  .hora {
    grid-area: hora;
  }
}
