.contenedor-footer {
  background-color: var(--tranbolico-azul);
  width: 100%;
  font-family: "Akkurat-Regular.ttf", system-ui;
}

.contenedor-footer img {
  width: 150px;
}

.h1-footer {
  font-family: "VinaSans-Regular.ttf", system-ui;
  font-size: 3rem;
  color: white;
}

.hr-footer {
  border-top: 3px solid white;
  width: 100%;
  opacity: 1;
}

.tuvuelta-footer {
  color: white;
  font-size: 1.2rem;
}

.avisolegal-footer {
  color: #beb5b5;
  text-decoration: none;
}

.derechos-footer {
  color: #beb5b5;
}

.iconos-footer > Button:hover {
  background-color: var(--tranbolico-fucsia);
}
