.div-profile {
  position: relative;
  .skater-icon {
    position: absolute;
    top: 0px;
    left: 350px;
    transform: rotate(45deg);
  }
  .rabbit-icon {
    position: absolute;
    bottom: -100px;
    right: 350px;
    transform: rotate(315deg);
  }
}
